#container {
  display: grid;
  justify-content: center;
  text-align: center;
}

#body-content {
  margin-bottom: 1rem;
}

#attributes-container {
  margin-bottom: .25rem;
}

label {
  text-align: left;
}

.input-wrapper {
  margin: 0 1.25rem;
  padding-bottom: .75rem;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

.row-flex {
  display: flex;
  flex-direction: row;
}

select {
  height: 1.5rem;
  width: 100%;
}

button {
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px solid rgba(254, 138, 24, .15);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  width: 16%;
}

button:disabled {
  background-color: #ccc;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-submit {
  background-color: #ffb75d;
}

.button-submit:hover {
  background-color: #fe8a18;
}

.button-cancel {
  background-color: #ec5161;
}

.button-cancel:hover {
  background-color: #e6245a;
}

.button-add {
  background-color: #2ea44f;
  margin-left: 1rem;
}

.button-add:hover {
  background-color: #2c974b;
}

.button-add:disabled,
.button-add[disabled]{
  background-color: #ccc;
}

#add-attribute-input {
  width: 100%;
}

.button-remove {
  margin-left: .5rem;
  cursor: pointer;
}