#container {
  display: grid;
  justify-content: center;
  text-align: center;
}

#body-content {
  margin-bottom: 1rem;
}

label {
  text-align: left;
}

textarea {
  width: 90%;
}

.selectContainer {
  display: flex;
  flex-direction: column;
  margin: 0 1.25rem;
  padding-bottom: .75rem;
}

select {
  height: 1.5rem;
}

button {
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px solid rgba(254, 138, 24, .15);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  width: 16%;
}

button:disabled {
  background-color: #ccc;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-submit {
  background-color: #ffb75d;
}

.button-submit:hover {
  background-color: #fe8a18;
}

.button-cancel {
  background-color: #ec5161;
}

.button-cancel:hover {
  background-color: #e6245a;
}